/* latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src:
    local('Orbitron Regular'),
    local('Orbitron-Regular'),
    url(https://fonts.gstatic.com/s/orbitron/v9/yMJRMIlzdpvBhQQL_Qq7dy0.woff2)
      format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}
body {
  margin: 0px;
  padding: 0px;
}

.dark-background-for-password {
  background: #0c1021;
}

#top-nav {
  border-radius: 0;
  height: 56px !important;
  background-color: #0c1021 !important;
  color: white;
  padding-left: 200px;
}
.user-db-header {
  height: 30px;
}
.login-signup-btn {
  padding: 3px 5px 3px 5px;
  font-family: 'Times New Roman', Times, serif;
  background: transparent;
  border-color: white;
  color: #ffffff;
  margin: 0;
}
.feed-link {
}

.clock-top {
  font-family: Orbitron;
  color: white;
  font-size: 18px;
}
#topSlideShow {
  width: 100%;
  height: 54px;
}
.sidenav_img_top img {
  width: 100%;
  height: 56px !important;
}
.sidenav_img_top img {
  width: 100%;
  height: 56px !important;
}
li {
  list-style-type: none;
}
.sub-menu {
  text-align: center;
}
.side-nav-main-div {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #0c1021;
  position: fixed;
  top: 0;
  width: 200px;
  height: 100%;
  color: #e1ffff;
}

.side-nav-main-div .toggle-btn {
  display: none;
}
.side-nav-main-div ul,
.side-nav-main-div li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}
.side-nav-main-div ul .active,
.side-nav-main-div li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.side-nav-main-div ul .sub-menu li.active,
.side-nav-main-div li .sub-menu li.active {
  color: #d19b3d;
}
.side-nav-main-div ul .sub-menu li.active a,
.side-nav-main-div li .sub-menu li.active a {
  color: #d19b3d;
}
.side-nav-main-div ul .sub-menu li,
.side-nav-main-div li .sub-menu li {
  background-color: #070912;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.side-nav-main-div ul .sub-menu li:hover,
.side-nav-main-div li .sub-menu li:hover {
  background-color: #020203;
}
.side-nav-main-div li {
  padding-left: 0px;
  border-left: 3px solid #0c1021;
  border-bottom: 1px solid #23282e;
}
.side-nav-main-div li a {
  text-decoration: none;
  color: #e1ffff;
}
.side-nav-main-div li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.side-nav-main-div li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.right-nav-util-main-div {
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  #top-nav {
    display: none;
  }
  .side-nav-main-div {
    top: 0;
    min-height: 50px;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .side-nav-main-div .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    background-color: #0c1021;
    color: #fff;
    width: 40px;
    box-shadow: 0 3px 10px 0 rgba(115, 143, 147, 0.3);
    text-align: center;
  }
}
@media (min-width: 767px) {
  .side-nav-main-div .menu-list .menu-content {
    display: block;
  }
}
